@model HomeViewModel


<partial name="_Carousel" />

<h2>Games of the week</h2>
<h4>Our weekly selection - just for you!</h4>

<div class="row">

    @foreach (var game in Model.GamesOfTheWeek)
    {
        <partial name="_GameCard" model="game" />
    }

</div>